@import url('https://fonts.googleapis.com/css?family=Roboto:300,400,500');
@import "variable/variabe.scss" ;

*{
    font-family: 'Roboto', sans-serif;
    color: $main-text-color;
}
a{
    color: $main-text-color;
    text-decoration: none;
    &:hover{
        color: $main-text-color;
        text-decoration: none;
    }
    &:focus{
        color: $main-text-color;
        text-decoration: none;
    }
    &:link{
        color: $main-text-color;
        text-decoration: none;
    }
    &:visited{
        color: $main-text-color;
        text-decoration: none;
    }
}
.slimText{
    font-weight: 100;
}
:root{
    height: 200vh;
}

@import "header/header.scss"                ; // шапка
@import "text/textStyle.scss"               ; // свойстава для текста
@import "header/nav.scss"                   ; // меню; мобильное меню
@import "section/sectionСreateOrder.scss"   ; // страница создания заказа
@import "button/button.scss"                ; // стили кнопок
@import "admin/orderInfo.scss"              ; // страница состояния заказов (админ)
@import "admin/orderEdit.scss"              ; // страница редактирования заказа (админ)
@import "table/table.scss"                  ; // стили для таблиц

